<%- include('./partials/header.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Thống kế cảm biến</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Số liệu cảm biến</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bảng thống kê số liệu từ cảm biến</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead class="text-center">
                    <tr>
                      <th>Ngày nhận</th>
                      <th>Giờ nhận</th>
                      <th>Nhiệt độ</th>
                      <th>Áp Suất</th>
                      <th>Độ Cao</th>
                      <th>Áp Suất Nước</th>
                    </tr>
                  </thead>
                  <tbody class="text-center" id="tb">

                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Ngày nhận</th>
                      <th>Giờ nhận</th>
                      <th>Nhiệt độ</th>
                      <th>Áp Suất</th>
                      <th>Độ Cao</th>
                      <th>Áp Suất Nước</th>
                    </tr>
                  </tfoot>
                </table>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('./partials/scripts.ejs') %>

    <script>
      $(document).ready(function () {

        setInterval(function () {
          getContent();
        }, 2000);

        function getContent() {
          $.ajax({
            url: "http://127.0.0.1:8282/api/cambien",
            type: 'GET',
            headers: {
              //"accept": "application/json",
              // "Access-Control-Allow-Origin":"*"
            },
            crossDomain: true,
            success: function (data) {
              render(data);
              return false;
            }
          });
        }

        //Method render 
        function render(res) {
          var resData = "";
          res.forEach(el => {
            resData += "<tr><td>" + el.ngaynhan + "</td><td>" + el.gionhan + "</td>" +
              "<td>" + el.Temperature + "</td>" +
              "<td>" + el.Pressure + "</td>" +
              "<td>" + el.Altitude + "</td>" +
              "<td>" + el.SealevelPressure + "</td>" +
              "</tr>";
          });

          $("#tb").html(resData);
        }
      });

    </script>

    <%- include('./partials/footer.ejs') %>